{% extends "main-content/attachment.twig" %}

{% block media %}
  <a href="{{ post.link }}" class="btn">View file '{{ post.title }}'
    <i class="fas fa-file-pdf" aria-hidden="true"></i>
  </a>
{% endblock %}

{% block mediainfo %}
{% endblock %}