<h2>Password Required</h2>
<p>A password is required to view this content.</p>
<form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
  <label for="pwbox-{{post.ID}}">Password:</label>
  <input name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="30" maxlength="30">
  <button type="submit" name="Submit">Submit</button>
</form>
